@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
  url('assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('assets/fonts/Montserrat-Regular.woff') format('woff'),
  url('assets/fonts/Montserrat-Regular.ttf') format('truetype'),
  url('assets/fonts/Montserrat-Regular.svg#Roboto') format('svg')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat'),
  url('assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('assets/fonts/Montserrat-SemiBold.woff') format('woff'),
  url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
  url('assets/fonts/Montserrat-SemiBold.svg#Roboto') format('svg')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'),
  url('assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
  url('assets/fonts/Montserrat-Bold.woff') format('woff'),
  url('assets/fonts/Montserrat-Bold.ttf') format('truetype'),
  url('assets/fonts/Montserrat-Bold.svg#Roboto') format('svg');
}

